/*Img separadora 1*/
div {
    .img-separadora {
        background-image: url(../img/separadora1.png);
        background-size: cover;
        height: 300px;
        margin: 5% 0% 7% 0%;
        padding: 0%;
    }
}