/*Contacto*/
section {
    div {
        div {
            div {
                #boton {
                    display: flex;
                    justify-content: center;
                }
            }

            div {
                i {
                    font-size: 38px;
                    margin: 2% 0% 2% 0%;

                    #icono {
                        text-decoration: none;
                    }
                }
            }
        }
    }
}