* {
    margin: 0;
    padding: 0;
}
 
body {
    background-color: rgb(245, 243, 243);
}

@import "../base/mixins";

/*NavBar*/
header {
    .nav {
        background-color: black;
        .container-fluid {
            div {
                ul {
                    li {
                        .nav-letra {
                            color: #FFF;
                        }
                        .animacion:hover {
                            @include medidas(scale(1.3), "'Courier New', Courier, monospace" , blue);
                        }
                    }
                }
            }
        }
    }
}