/*Img separadora 2*/
div {
    .img-separadora2 {
        background-image: url(../img/separadora2.png);
        background-size: cover;
        height: 300px;
        margin: 7% 0% 7% 0%;
        padding: 0%;
    }
}