/*Contacto*/
@import "../base/extends";

section {
    div {
        div {
            div {
                h2 {
                    @extend %centrar;
                }
                #boton {
                    @extend %centrar;
                }
            }

            div {
                i {
                    font-size: 38px;
                    margin: 2% 0% 2% 0%;

                    #icono {
                        text-decoration: none;
                    }
                }
            }
        }
    }
}