/*Mapas*/
$img-fondo1: (
    height: 600px,
    background-image: url(../img/fondo-principal.jpg),
    background-size: cover,
    opacity: 0.2,
);

$img-fondo2: (
    height: 500px,
    background-image: url(../img/fondo-principal.jpg),
    background-size: cover,
    opacity: 0.9,
);